<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load static %}
    <style>
      body {
        background-image: url("/static/images/background.jpg");
        background-size: cover;
        font-family: "Fira Code", monospace;
        color: #7fff00;
      }
    </style>
  </head>
  {% load static %}
  <body>
    <center>
      <h1>Original ciphertext</h1>
      {{ octext }}
      <h1>Original plaintext</h1>
      {{ optext }}
      <h1>Original plaintext image</h1>
      <img
        src="/static/images/Decryptedimage.jpg"
        alt="Original decrypted image"
        width="200"
        height="150"
      />
      <h1>Modified ciphertext</h1>
      {{ fctext }}
      <h1>Modified plaintext</h1>
      {{ fptext }}
      <h1>Modified plaintext image</h1>
      <img
        src="/static/images/Modifieddecryptedimage.jpg"
        alt="Modified decrypted image"
        width="200"
        height="150"
      />
      <h1>
        Number of changes observered between original plaintext and modified
        plaintext
      </h1>
      <h2>{{ changes }}</h2>
      <h1>Percentage of change between 2 plaintext images</h1>
      <h2>{{ percent }}</h2>
    </center>
  </body>
</html>
